body{
  background-color: coral;
}

h1 {
  font: 50px solid coral;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
}

#attemptfield {
  font-size: 25px;
  color: black;
  font-family: "Lucida Calligraphy";

  text-align: center;
}

#category {
  font-size: 25px;
  color: black;
  font-family: "ALucida Calligraphy";
  text-align: center;
}

table {
  border: 5px solid black;
  position: relative;
  top: 50px;

}

img {
  border: 10px dotted black;
  float: right;
  position: relative;
  right: 350px;
  top: 100px;
  padding: 20px;
}

td {
  border: 2px solid seagreen;
  background-color: white;
  padding: 15px;
  background-color: seagreen;
  color: silver;

}

td:hover{
  background-color: green;
}

.mainDiv {
  border: 2px solid none;
     text-align: center;
      padding-top: 20px
}
.cell {
  border: 2px solid none;
  display: inline-block;
  padding: 30px;
}

.cell:hover{
  background-color: seagreen;
}


