body{

  background-image: url("http://eskipaper.com/images/aurora-borealis-wallpaper-20.jpg");
}

h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: -1px 0 turquoise, 0 6px turquoise, 1px 0 turquoise, 0 -1px turquoise;
}

#attemptfield {
  font-size: 25px;
  color: white;
  font-family: "Lucida Calligraphy";
  text-align: center;
  text-shadow: -1px 0 turquoise, 0 2px turquoise, 1px 0 turquoise, 0 -1px turquoise;

}

#category {
  font-size: 25px;
  color: white;
  font-family: "ALucida Calligraphy";
  text-align: center;
    text-shadow: -1px 0 turquoise, 0 2px turquoise, 1px 0 turquoise, 0 -1px turquoise;

}

table {
  border: 5px solid none;
  position: relative;
  top: 20px;
  left: 50px;

}

img {
  float: right;
  position: relative;
  right: 350px;
  top: 40px;
  padding: 20px;
  height: 350px;
  width: 350px;
}


td {
  border: 2px solid turquoise;
  padding: 15px;
  color: white;
  background-color: transparent;
  border-radius: 25%;
  font-family: Times;
  font-weight: bold;

}

td:hover{
  background-color: turquoise;
  color: black;
}

.mainDiv {
  border: 2px solid none;
     text-align: center;
      padding-top: 20px
}
.cell {
  border: 2px solid none;
  display: inline-block;
  padding: 30px;
  font-size: 15px;
}


