body{

  background-image: url("http://eskipaper.com/images/aurora-borealis-wallpaper-20.jpg");

}


h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: -1px 0 turquoise, 0 6px turquoise, 1px 0 turquoise, 0 -1px turquoise;
}

#mainCell {
  clear: both;
  margin-bottom: 20px;
}

#attemptfield {
  font-size: 30px;
  color: white;;
  font-family: "Lucida Calligraphy";
  text-align: center;
  text-shadow: -1px 0 white, 0 0px white, 1px 0 black, 0 -1px white;

}

#category {
  font-size: 30px;
  color: white;
  font-family: "ALucida Calligraphy";
  text-align: center;
  text-shadow: -1px 0 white, 0 0px white, 1px 0 black, 0 -1px white;

}

#imagewrap {
  width: 100%;
  margin-left: -55px;

}

#hangmanimage {
  width: 370px;
  margin: 0 auto;
}

#shell {
  position: relative;
  width: 100%;
  max-height: 390px;
}

#inner {
  margin: 0 auto;
  white-space: nowrap;
}

table {
  border: 5px solid none;
  /*position: relative;*/
  top: 10px;
  left: 60px;
  float: left;
}

img {
  /*float: right;*/
  /*position: relative;*/
  /*right: 500px;*/
  /*top: 20px;*/
  padding: 10px;
  height: 350px;
  width: 350px;
  opacity: 0.8;
  border-radius: 25%;
}

#button1{
  border: 1px none turquoise;
  border-radius: 25px;
  background-color: transparent;
  color: white;
  text-shadow: -1px 0 turquoise, 0 3px black, 1px 0 turquoise, 0 -1px turquoise;
  font-size: 30px;
  font font-weight: bold;
  top: 300px;
  left: 300px;
  float: right
}

td {
  border: 2px solid turquoise;
  padding: 15px;
  color: white;
  background-color: transparent;
  border-radius: 25%;
  font-family: Times;
  font-weight: bold;

}

td:hover{
  background-color: turquoise;
  color: black;
}

.mainDiv {
  border: 2px solid none;
     text-align: center;
      padding-top: 20px;
      font-size: 15px;
      color: white;
        text-shadow: -1px 0 turquoise, 0 2px turquoise, 1px 0 turquoise, 0 -1px turquoise;

}
.cell {
  border-bottom: 3px solid turquoise;
  display: inline-block;
  padding: 30px;
  font-size:40px;
  width: 30px;

}

.cell.no-border {
  border: none;
}






